<% -include('template/cabecera') %>
<body>
    <%- include('template/menu') %>
        <div class="container">
            <h1 class="text-title">Detalle de Información</h1>
            <% if(error)  { %>
                <p>
                    <% mensaje %>
                </p>
                <a href="/personas">Regresar</a>
            <% } %>
            <% if (!error) { %>
                <form id="formEditar" data-id="<%= Persona.id %>">
                    <input type="text" name="cedula" value="<%= Persona.cedula %>" id="cedula-cli">
                    <input type="text" name="nombre" value="<%= Persona.nombre %>" id="nombre-cli">
                    <button type="submit">Editar</button>
                </form>

                <button id="btnEliminar" data-id="<%= Persona.id %>">Eliminar</button>

            <% } %>
        </div>
    <%-include ('template/footer') %>
    <script src="./js/scripts.js"></script>
    <script>
        const eliminar=document.querySelector('#btnEliminar');
        eliminar.addEventListener('click',()=>{
            //console.log('me diste click')
            const id=eliminar.dataset.id
            //console.log('id',id)
            try {
                const data = await fetch(`/personas/${id}`, {
                    method:'delete'
                })
                const res = await data.json()
                //console.log(res)
                if (res.estado) {
                    window.location.href='/personas'
                }else{
                    console.log(error)
                }

            } catch (error) {
                console.log(error)
            }
        })

        const formulario=document.querySelector('#formEditar');
        formulario.addEventListener('submit', async (e)=>{
            e.preventDefault();
            //por el name//
            const cedula =formulario.elements['cedula'].value
            const nombre=document.querySelector('#nombre-cli').value
            const id=formulario.dataset.id

            try {
                const data = await fetch(`/personas/${id}`,{
                    method:'put',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    //body:{
                      //  cedula:cedula,
                       // nombre:nombre
                    //}
                    body:JSON.stringify({cedula,nombre})
                })
                const res=await data.json()

                if(res.estado){
                    window.location.href='/personas'            
                }else{
                    console.log(res)
                }
            } catch (error) {
                console.log(error)
            }
        })
    </script>
</body>
</html>